.metermaid-surplus, .metermaid-deficit, .metermaid-balanced {
	margin-left: 1ex;
}

.metermaid-surplus, .metermaid-deficit {
	text-decoration:underline;
	text-decoration-style: dotted;
}

.metermaid-surplus {
	color: green;
}

.metermaid-deficit {
	color: red;
}

.metermaid-tabbed-content-container nav .nav-tab.nav-tab-active {
	background-color: #fff;
	border-bottom-color: #fff;
}

.metermaid-card.card, .metermaid-tabbed-content.card {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

.metermaid-tabbed-content.card {
	margin-top: 0;
	border-top: 0;
}
